<div class="background">
  <p id="notice"><%= notice %></p>
  <div class="col-sm-9 profile-header">
    <h3>Starve Ups Members</h3>
    <%= link_to 'New Profile', new_profile_path %>
  </div>
  <div class="col-sm-9">

    <% if @profiles.any? %>
      <% @profiles.each do |profile| %>
        <div class="col-sm-4 tiles">
          <p><strong><%= profile.company %></strong></p>
          <p><%= profile.overview %></p>

        </div>
      <% end %>
    <% end %>
  </div>
</div>
