<div class="container-fluid">

  <div class="background">
    <p id="notice"><%= notice %></p>
    <%= link_to '+', new_profile_path, :class => "btn btn-success floating-button" %>
    <div class="row">
      <div class="col-sm-6">
        <h3>Starve Ups Members</h3>
          <% if @profiles.any? %>
          <ul>
            <% @profiles.each do |profile| %>
              <li class="profile-list"><%= link_to profile.company, profile_path(profile) %></li>
              <hr>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
  <!-- <div class="modal fade" id="new-profile-modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">New profile details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="new-profile-form">
        </div>
      </div>
    </div>
  </div> -->

</div>
