<div class="background">
  <p id="notice"><%= notice %></p>
  <div class="col-sm-9 profile-header">
    <h3>Starve Ups Members</h3>
    <%= link_to '+', new_profile_path, :class => "btn btn-success floating-button" %>
  </div>
  <div class="col-sm-3">
    <% if @profiles.any? %>
      <% @profiles.each do |profile| %>
        <p class="profile-list"><%= link_to profile.company, profile_path(profile) %></p>
        <hr>
      <% end %>
    <% end %>
  </div>
</div>
