<div class="background">

  <div class="col-sm-6 form-outline">
    <h3>Create a new profile</h3>

    <%= render 'form', profile: @profile %>

    <%= link_to 'Back', profiles_path %>
  </div>

</div>
