$grey: #636c72;
$mdgrey: #C0C0C0;
$ltgrey: #f7f7f7;
$blue: #3a87ad;
$action: #3a87ad;

form, table {
  color: $grey;
}


.btn-outline-success {
  border: 1px solid $action !important;
  color: $action !important;
  width: 100%;
  &:hover {
    background-color: $action !important;
    color: white !important;
    border: 1px solid $action !important;
  }
}


.grey {
  color: $grey;
  a {
    color: $grey;
  }
}

.fc-button:focus {
  outline: 0;
  // background-color: whitesmoke;
}

.fc-next-button, .fc-prev-button {
  border: 0;
  text-shadow: none;
  margin-top: 3rem;
}
.fc-center {
  text-align: center;
}
.fc-right {
  border: 0;
  text-shadow: none;
}

.event-date {
  color: $mdgrey;
  font-weight: lighter;
  font-size: 6rem;
}
.event-desc {
  font-weight: lighter;
}
.add-event-float {
  position: absolute;
  bottom: 2rem;
  right: -58px;
  // height: 2rem;
  // line-height: 1;
  z-index: 1031;
  position: fixed;
  &:hover {
    right: 0;
  }
}

.col-sm-9 {
  margin: 40px auto;
}

.color-field {
  height: 10px;
	width: 32px;
	height: 32px;
}

input[type="color"] {
  width: 50px;
  height: 50px;
}
.modal-title {
  color: $blue;
}

// .date-fields {
//   width: 100%;
// }

.calendar {
  .fc-button {
    height: 2rem;
  }
  .fc-center h2 {
    font-weight: 200;
    text-align: center;
  }
  th.fc-day-header.fc-widget-header, .fc-center {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: lighter;
  }

  .fc-row .fc-widget-header {
    height: 2rem;
  }

  .fc-sun, .fc-mon, .fc-tue, .fc-wed, .fc-thu, .fc-fri, .fc-sat {
    padding-top: .5rem;
  }

  .fc-past {
    background: $ltgrey;
  }
  .fc-day-number {
    padding: .25rem .5rem 0 0;
    font-weight: lighter;
  }
  .fc-widget-content {
    height: 20px;
  }
  button {
    .fc-state-down, .fc-state-active {
      box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.15), 0 0px 0px rgba(0, 0, 0, 0.05);
      background: $grey !important;
    }
    .fc-state-default {
      .fc-icon.fc-icon-right-single-arrow {
        font-family: Arial, Helvetica, sans-serif;
        font-size: .5rem;
        font-weight: lighter;
      }
    }
    background: #fff !important;
    color: $grey;
    font-size: 1rem;
    }
  }

  a.fc-more {
    background-color: $blue;
    padding: .25rem 0 .25rem .25rem;
    color: white !important;
    padding-right: .5rem;
    font-size: .75rem;
  }
  a.fc-day-grid-event {
    border-radius: 0;
    padding: .25rem 0 .25rem .25rem;
  }
.fc-content {
  border-radius: 0;
  .fc-title, .fc-time {
    color: white;
    font-size: .75rem;
  }
}
@media screen and (max-width: 700px) {
  .add-event-float {
    bottom: 2rem;
  }

}

@media screen and (max-width: 500px) {
  .calendar {
    margin: 1em auto;
    .fc-basic-view {
    }
    td.fc-day-top {
      font-size: 24px;
      font-weight: lighter;
      text-align: center;
      padding: 0;
    }
    button.fc-agendaWeek-button {
      display: none;
    }
    div.fc-center h2 {
      font-size: 2rem;
      text-align: center;
    }
    .fc-next-button {
      margin-left: 0 !important;
    }
    .fc-right .fc-button-group {
      display: none;
    }
    th.fc-day-header.fc-widget-header {
      font-variant: small-caps;
      font-weight: lighter;
      font-size: .75em;
    }
    .fc-sun, .fc-mon, .fc-tue, .fc-wed, .fc-thu, .fc-fri, .fc-sat {
      padding-top: 1rem;
    }
    .fc-day-number {
      padding: 0;
    }
    .fc-day-top .fc-day-number {
      width: 100%;
      padding: auto;
    }
    .fc-view-container {
      height: auto;
    }
  }
  .event-list {
    display: block;
  }
}
