$grey: #999;

form, table {
  color: $grey;
}

.col-sm-8 {
  margin: 40px auto;
}

.modal-title {
  color: $grey;
}

.date-fields {
  width: 100%;
}

.calendar {
  max-width: 600px;
  margin: 2em auto;
  color: $grey;
  .fc-center h2 {
    font-size: 2em;
  }
  th.fc-day-header.fc-widget-header, .fc-center {
    font-variant: small-caps;
    font-size: .75em;
    font-weight: lighter;
  }
  td.fc-day-top {
    text-align: center;
    padding: auto;
  }
  .fc-past {
    background: whitesmoke;
  }
  .fc-day-number {
    padding: .25em .5em 0 0;
    font-weight: lighter;
  }
  button {
    .fc-state-down, .fc-state-active {
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
      background: $grey !important;
    }
    .fc-state-default {
      text-shadow: 0 0 0 rgba(0, 0, 0, .7);
      .fc-icon.fc-icon-right-single-arrow {
        font-family: Arial, Helvetica, sans-serif;
        font-size: .6em;
        font-weight: lighter;
      }
    }
    background: #fff !important;
    color: $grey;
    font-size: .75em;
    }
    // &:focus {
    //   outline-color: rgb(0, 0, 0) !important;
    // }
  }

@media screen and (max-width: 400px) {
  .container-fluid {
    height: 100vh;
    .fc-view-container {
      table {
        height: 200px;
      }
    }
  }
  .calendar {
    height: 100%;
    margin: 1em auto;
    .fc-basic-view {
      height: 100%;
    }
    td.fc-day-top {
      font-size: 32px;
      font-weight: lighter;
      text-align: center;
      padding: 0;
    }
    button.fc-agendaWeek-button {
      display: none;
    }
    div.fc-center h2 {
      padding-top: 1em;
    }
    th.fc-day-header.fc-widget-header {
      font-variant: small-caps;
      font-weight: lighter;
      font-size: .75em;
    }
    .fc-day-number {
      padding: 0;
    }
    .fc-day-top .fc-day-number {
      width: 100%;
      padding: auto;
    }
    fc-content-skeleton {
      padding-bottom: 0;
    }
  }
}
