

.icon.white-text {
  color: $ltblue !important;
  &:hover {
    color: $blue !important;
  }
}

#map {
  position:absolute;
  top:0;
  bottom:0;
  width:100%;
  height: 500px;
  padding-left: 0 !important;
}

.map {
  height: 500px;
}

.portlandicon {
  width: 300px;
  height: 60px;
  background-color: transparent;
  position: absolute;
  top: 40px;
  left: 38vw;
  &:hover {
    .col-sm-12 {
      display: block;
    }
  }
  .col-sm-12 {
    background-color: white;
    width: 250px;
    height: 200px;
    display: none;
    margin-left: -250px;
    padding: 1rem;
  }
}

.block-inverse {
  background-color: transparent !important;
  margin-bottom: 0 !important;
  margin-top: -25px !important;
  height: 525px;
  padding-top: 200px;
  padding-bottom: 200px;
}

.block-background {
  padding-top: 100px;
  margin-top: -25px !important;
  margin-bottom: 0 !important;
  height: 600px;
}


.opacity-layer{
    background-color: rgba(25, 25, 25, 0.7) !important;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -25px;
    width: 100%;
    height: 100%;
    height: 600px;
}

.small {
  font-size: 1em;
}

$bodyFontFamily: 'Open Sans', sans-serif;
$headline: 'Roboto', serif;

.btn-primary {
  background-color: $blue;
  &:hover {
    background-color: $dkblue;
  }
}

a {
  color: $ltblue;
  &:hover {
    color: $dkblue;
  }
}

p {
  font-size: 1.25em;
  font-family: $bodyFontFamily
}

h1 {
  font-weight: 200;
  color: $dkgrey;
}

h3 {
  letter-spacing: .5px;
}

a.nav-link {
  color: #f7f7f7 !important;
  letter-spacing: .5px;
  padding-bottom: 3px;
  font-weight: 500;
  &:hover {
    color: $ltblue !important;
    font-weight: 500 !important;
    border-bottom: 1.5px solid $ltblue;
    padding-bottom: 2px;
  }
}

iframe#bgvideo {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: 700px;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  // background: url(polina.jpg) no-repeat;
  background-size: cover;
  overflow:hidden;
}

// TO_DO_JD ADD FRAME FOR MOBILE DEVICES
@media screen and (max-device-width: 800px) {
  html {
    background: url(polina.jpg) #000 no-repeat center center fixed;
  }
  #bg-video {
    display: none;
  }
}

.hoverpartner {
  display: none;
  position: absolute;
  height: 12em;
  top: 0;
  left:0;
  width: 100%;
  color: white;
  background-color: rgba(25, 25, 25, 0.8);
  a {
    color: white;
  }
}

.partner {
  &:hover {
    .hoverpartner {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.text-shadow {
  text-shadow: 3px 3px 10px $dkgrey;
}
// TO_DO FIX AUTOPLAY http://thenewcode.com/777/Create-Fullscreen-HTML5-Page-Background-Video
