// .opacity-layer {
//     background-color: rgba(25, 25, 25, 0.7);
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
// }

$bodyFontFamily: 'Open Sans', sans-serif;
$headline: 'Roboto', serif;

p {
  font-size: 1.25em;
  font-family: $bodyFontFamily
}

h3 {
  letter-spacing: .5px;
}
