// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$grey: #999;
$bgrdgrey: #f4f4f4;
$ltgrey: #bcbec0;
$dkgrey: #616161;
$ltblue: #589fb7;
$blue: #295D85;
$ltgreen: #9bba63;
$hovergreen: #8baa55;
$green: #8aa55b;
// FROM STAGES
$dkblue: #314B60;
$dkgreen: #719041;
$red: #A15B5A;

// $baseFontFamily: 'Open Sans', sans-serif !important;
$bodyFontFamily: 'Open Sans', sans-serif;
$headline: 'Roboto', serif;




$linkColor: $dkblue;

h1,
h2,
h3,
h4,
h5 {
  font-family: $headline !important;
}

.text-blue {
  color: $blue;
}

.btn-info {
  background-color: $ltblue;
  border: 1px solid $ltblue;
  &:hover {
    background-color: $blue;
    border: 1px solid $blue;
  }
}

// * p {
//   font-family: $bodyFontFamily !important;
// }

.form-group {
  .form-label {
    color: $blue !important;
    font-family: $bodyFontFamily !important;
    font-weight: 500;
  }
}


div.card-block {
  h4 {
    a {
      font-size: 1.5rem;
      border-bottom: .5px solid $ltgrey;
      // font-weight: 100 !important;
    }
  }
  p.card-text {
    font-family: $bodyFontFamily !important;
    font-weight: lighter;
    letter-spacing: .25px;
    // font-style: italic;
    color: $grey;
    font-size: 1em;
  }
}

// .jumbotron {
//   h1 {
//     font-family: $headline !important;
//     font-weight: 500 !important;
//   }
// }

.color-block {
  font-family: $bodyFontFamily !important;
  .label {
    font-weight: 500 !important;
  }
}

.details {
  .quote {
    font-weight: 200;
    font-family: $headline;
    color: $ltblue;
  }
  // #subhead {
  //   font-family: $headline !important;
  //   font-weight: 600;
  // }
  p.body-copy {
    font-family: $bodyFontFamily !important;
    font-weight: 300;
    color: $dkgrey;
    font-size: 1.25em;
    line-height: 1.5;
  }
}

.subhead {
  font-family: $headline !important;
  font-weight: 600;
  color: $blue;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;
}

@mixin gradient-vertical($start-color: #F7F7F7, $end-color: #E5E5E5, $start-percent: 0%, $end-percent: 100%) {
  background-image: -webkit-linear-gradient(top, $start-color $start-percent, $end-color $end-percent);  // Safari 5.1-6, Chrome 10+
  background-image: -o-linear-gradient(top, $start-color $start-percent, $end-color $end-percent);  // Opera 12
  background-image: linear-gradient(to bottom, $start-color $start-percent, $end-color $end-percent); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=0); // IE9 and down
}

@mixin gradient-vertical-three-colors($start-color, $mid-color, $color-stop, $end-color) {
  background-image: -webkit-linear-gradient($start-color, $mid-color $color-stop, $end-color);
  background-image: -o-linear-gradient($start-color, $mid-color $color-stop, $end-color);
  background-image: linear-gradient($start-color, $mid-color $color-stop, $end-color);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=0); // IE9 and down, gets no color-stop at all for proper fallback
}

h3 {
  font-family: $headline;
  font-weight: 700 !important;
  letter-spacing: -.5px;
  color: $dkgrey;
}

.card-title {
  font-family: $headline;
    h4 {
      a {
        font-weight: 500;
        &:hover {
          text-decoration: none;
          color: $blue;
        }
    }
  }
}

.white-border {
  border: .5px solid white;
}

.background-grey {
  background-color: $bgrdgrey;
}

.background {
  border-radius: 4px;
}

.new-profile-modal {
  display: none;
}

.col-sm-6.form-outline {
  margin: 4em auto;
  border-radius: 4px;
  border-size: 2px;
  border-color: $grey;
  border-style: thin;
}

.form-control{
  border: .25px solid $ltgrey;
  border-radius: 8px;
}

.form-group {
  padding: 0 1em;
}

.floating-button {
  position: fixed;
  &:hover {
    right: 0;
  }
  &:click {
    right: 0;
  }
}

p {
  .list-members {
    font-family: $headline;
    a {
      font-size: 2rem !important;
    }
  }

}

.add-float {
  background-color: $ltgreen !important;
  border: 1px solid $ltgreen !important;
  top: 1rem;
  right: -70px;
  &:hover {
    border: 1px solid $hovergreen !important;
    background-color: $hovergreen;
  }
}

.delete-float {
  top: 5rem;
  right: -62px;
}

.edit-float {
  right: -45px;
  top: 2rem;
}

.shadow {
  -moz-box-shadow:    2px 2px 3px 2px #e8e8e8;
  -webkit-box-shadow: 2px 2px 3px 2px #e8e8e8;
  box-shadow:         2px 2px 3px 2px #e8e8e8;
}

.shadow-nav {
  -moz-box-shadow:    0px -1px 10px 0px #5e5e5e;
  -webkit-box-shadow: 0px -1px 10px 0px #5e5e5e;
  box-shadow:         0px -1px 10px 0px #5e5e5e;
}

// .inner-shadow {
//   box-shadow: inset 1px 1px 10px #bababa;
// }

// .shadow-inner {
//   box-shadow: inset -15px 0 10px 0px #e8e8e8;
//
//   -moz-box-shadow: inset -15px 0 10px 0px #e8e8e8;
//   -webkit-box-shadow: inset -15px 0 10px 0px #e8e8e8;
//   // box-shadow:         inset 2px 0px 10px 1px #e8e8e8;
// }

.blue-shadow {
  // z-index: 1031;
  box-shadow: inset -5px 0 2px 0px #5092A8;

  -moz-box-shadow: inset -5px 0 2px 0px #5092A8;
  -webkit-box-shadow: inset -5px 0 2px 0px #5092A8;
  // box-shadow:         inset 2px 0px 10px 1px #e8e8e8;
}

.shadow-left {
  box-shadow: 2px 0 10px 1px #e8e8e8;

  -moz-box-shadow: 2px 0 10px 1px #e8e8e8;
  -webkit-box-shadow: 2px 0 10px 1px #e8e8e8;
}

.label {
  font-size: .75rem;
  font-weight: 600;
  font-family: $headline;
}
.summary-text {
  color: $dkgrey;
  font-weight: 400;
  font-family: $bodyFontFamily;

}

li.nav-item {
  a.nav-link {
    color: #e8e8e8;
    font-weight: 500;
    &:hover {
      color: $ltblue;
    }
    &.active {
      color: $ltblue !important;
      font-weight: 600;
    }
  }
}

sort-members {
  font-family: $headline !important;
}

// .quote {
//   line-height: normal;
// }

// .profile-lead {
//   display: none;
//   height: 0;
// }

.btn-default {
  border: 1px solid $dkblue !important;
  background-color: $dkblue !important;
  width: 100%;
  color: white !important;
  &:hover {
    color: white !important;
    background-color: $blue !important;
    border: 1px solid $blue !important;
  }
}

.profile-show {
  background: url(../images/4646EC9D-EF01-4C27-BF32A35C2A8C5D23_W960_H420.png) center top repeat;
}

.color-block {
  // @include gradient-vertical-three-colors(#F2F2F2, #F7F7F7, 50%, #E5E5E5);

  // border-radius: 15px;
  background-color: $ltblue;
  color: white;
  p, h5, a {
    color: white !important;
  }
  .label {
    letter-spacing: .25px;
  }
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}


.link {
  // color: $blue;
  text-decoration: none;
  // opacity: .9;
  &:hover {
    border-bottom: .25px solid;
    padding-bottom: .25em;
    opacity: 1;
  }
}

.contact-image {
  background: url(../images/founders.jpeg) center top no-repeat;
}

@media screen and (min-width: 575px) {
  .contact-info {
    border-radius: 15px;
  }
  .contact-image {
    border-right: 10px solid white;
    width: 95%;
    // border-radius: 15px;
  }
}

@media screen and (max-width: 575px) {
  .profile-show {
    margin-bottom: 0;
  }
  .contact-info, .contact-image, .color-block {
    border-radius: 0px 0px 0px 0px;
  }
}
