// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$grey: #999;
$dkgrey: #616161;
$blue: #4A89FF;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;
}

@mixin gradient-vertical($start-color: #F7F7F7, $end-color: #E5E5E5, $start-percent: 0%, $end-percent: 100%) {
  background-image: -webkit-linear-gradient(top, $start-color $start-percent, $end-color $end-percent);  // Safari 5.1-6, Chrome 10+
  background-image: -o-linear-gradient(top, $start-color $start-percent, $end-color $end-percent);  // Opera 12
  background-image: linear-gradient(to bottom, $start-color $start-percent, $end-color $end-percent); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=0); // IE9 and down
}

@mixin gradient-vertical-three-colors($start-color, $mid-color, $color-stop, $end-color) {
  background-image: -webkit-linear-gradient($start-color, $mid-color $color-stop, $end-color);
  background-image: -o-linear-gradient($start-color, $mid-color $color-stop, $end-color);
  background-image: linear-gradient($start-color, $mid-color $color-stop, $end-color);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=0); // IE9 and down, gets no color-stop at all for proper fallback
}

img {
  width: 20em;
  height: auto;
}

.background {
  // background-color: darkgrey;
  border-radius: 4px;

}

.new-profile-modal {
  display: none;
}

.col-sm-6.form-outline {
  margin: 4em auto;
  border-radius: 4px;
  border-size: 2px;
  border-color: $grey;
  border-style: thin;
}

.form-control{
  border: 0px solid white;
  border-radius: 0px;
  border-bottom: .5px solid grey;
}

.form-group {
  padding: 1em 2em;
}

h3 {
  font-size: 2em;
  color: $grey;
  margin-bottom: 1em;
  font-weight: lighter;
  letter-spacing: 1px;
}

h5 {
  color: $dkgrey;
  margin-bottom: 1em;
}

ul {
  list-style: none;
  padding-left: 0;
}





.floating-button {
  border-radius: 6px;
  position: fixed;
  z-index: 1;
  .edit-button {
    color: transparent;
  }
  @include border-radius(10px 0px 0px 10px);
  opacity: .95;
  &:hover {
    right: 0;
    .edit-button {
      color: white;
    }
  }
}
.add-float {
  top: 5em;
  right: -10px;
}

.edit-float {
  right: -40px;
  top: 11em;
}

.shadow {
  -moz-box-shadow:    0px 2px 6px 3px #ccc;
  -webkit-box-shadow: 0px 2px 6px 3px #ccc;
  box-shadow:         0px 2px 6px 3px #ccc;
}

.quote {
  line-height: normal;
}

.profile-lead {
  display: none;
  height: 0;
}

.profile-show {
  background: url(../images/placeholder_shaded.png) center top no-repeat;
  background-size: cover;
  border-radius: 0;
  height: 200px;
  display: flex;
  vertical-align: middle;
  margin-bottom: 0;
}

.display-5 {
  color: white;
  margin: auto;
  text-align: center;
  width: 100%;
}

.color-block {
  padding: 1.5em;
  @include gradient-vertical-three-colors(#F2F2F2, #F7F7F7, 50%, #E5E5E5);
  margin-bottom: 2em;
  max-height: 520px;
}

.profile-label {
  font-size: .5em;
  font-weight: 600;
  margin-bottom: 0;
  color: $dkgrey;
}

.body {
  color: $dkgrey;
  margin-bottom: 1em;
}

.body-all {
  margin-bottom: 2em;
  line-height: 1.5;
  color: $grey;
  max-width: 800px;
  h5 {
    padding-top: 1em;
  }
}

.lead {
  color: white;
  text-align: center;
}

.profile-details-block {
  justify-content: space-between;
  .col {
    width: 100px;
  }
}

@media screen and (min-width: 480px) {
  .color-block {
    border-radius: 10px;
  }
  .body-all {
    padding-left: 2em;
  }
  .profile-show {
    margin-bottom: 2em;
  }
}

.contact-info {
  h4 {
    padding-bottom: 1em;
  }
  background-color: #252429;
  padding: 2em 2em;
  color: white;
  @include border-radius(0px 10px 0px 0px);
  .profile-label {
    color: white;
  }
}


a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.link {
  color: $blue;
  text-decoration: none;
  opacity: .9;
  &:hover {
    border-bottom: .25px solid;
    padding-bottom: .25em;
    opacity: 1;
  }
}





.contact-image {
  background: url(../images/founders.jpeg) center top no-repeat;
  background-size: cover;
  @include border-radius(10px 0px 0px 0px);
  height: auto;
  margin-bottom: 0;
}

@media screen and (max-width: 575px) {
  .profile-show {
    margin-bottom: 0;
  }
  .contact-info {
    @include border-radius(0px 0px 0px 0px);
  }
}


// .tiles {
//   flex-direction: column;
//   border: 1px solid $grey;
//   border-radius: 4px;
//   margin-right: 1em;
//   padding-top: .5em;
//   p {
//     font-size: 1em;
//     font-weight: 300;
//     color: $grey;
//     letter-spacing: .5px;
//   }
//   em {
//     letter-spacing: normal;
//   }
// }
