// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$grey: #999;

.background {
  // background-color: darkgrey;
  border-radius: 4px;

}

.new-profile-modal {
  display: none;
}

.col-sm-6.form-outline {
  margin: 4em auto;
  border-radius: 4px;
  border-size: 2px;
  border-color: $grey;
  border-style: thin;
}

.form-control{
  border: 0px solid white;
  border-radius: 0px;
  border-bottom: .5px solid grey;
}

.form-group {
  padding: 1em 2em;
}

h3 {
  font-size: 2.5em;
  color: $grey;
  padding-bottom: 1em;
  font-weight: lighter;
  letter-spacing: 1px;
}

ul {
  list-style: none;
  padding-left: 0;
}

.profile-list {
  width: 100%;
  flex-wrap: wrap;
  a {
    color: $grey;
    font-weight: bolder;
    &:hover {
      color: #4A89FF;
      text-decoration: none;
    }
  }
}

.floating-button {
  border-radius: 8px;
  position: absolute;
  top: 80vh;
  right: 10px;
}

blockquote {
  color: $grey;
  font-style: oblique;
  font-size: 1em;
  padding: 2em 1em;
}

.profile-show {
  background: url(../images/placeholder_shaded.png) top center no-repeat;
  background-size: cover;
  border-radius: 0;
  height: 200px;
  display: flex;
  vertical-align: middle;
}

.display-5 {
  color: white;
  margin: auto;
  text-align: center;
}

// .tiles {
//   flex-direction: column;
//   border: 1px solid $grey;
//   border-radius: 4px;
//   margin-right: 1em;
//   padding-top: .5em;
//   p {
//     font-size: 1em;
//     font-weight: 300;
//     color: $grey;
//     letter-spacing: .5px;
//   }
//   em {
//     letter-spacing: normal;
//   }
// }
