<!DOCTYPE html>
<html>
  <head>
    <title>BlockLibrary</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Required for fullcalendar to work -->
    <script src="http://www.google.com/jsapi" type="text/javascript"></script>

    <link rel='stylesheet' href='fullcalendar/fullcalendar.css' />

    <script src='lib/jquery.min.js'></script>
    <script src='vendor/moment.min.js'></script>
    <script src='vendor/fullcalendar.js'></script>
    <!-- ... -->
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
