<!DOCTYPE html>
<html>
  <head>
    <title>BlockLibrary</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- FONTS -->
    <link <link href="https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,600|Roboto:100,200,300,400,600" rel="stylesheet">

    <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/quantumpipes/sitecast/vendors/bootstrap/dashboard/v4/dist/toolkit-light.min.css">
    <link rel="script" href="https://s3-us-west-2.amazonaws.com/quantumpipes/sitecast/vendors/bootstrap/theme-dashboard/v4/dist/toolkit.min.js">

    <!-- BOOTSTRAP JS -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    <!-- FOR CALENDAR DATEPICKER -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="http://www.google.com/jsapi" type="text/javascript"></script>
    <script src="https://use.fontawesome.com/0dfbe7b74a.js"></script>
  </head>

  <!-- NAVIGATION -->
  <!-- <div class="sort-members py-2 shadow-nav fixed-top hidden-sm-down" style="background-color:#353535; opacity: 0.96; filter: alpha(opacity=.96);">
    <div class="container">

        <img src="../images/logo_grey.png" alt="StarveUps logo" style="width: 200px; margin-bottom:-60px; margin-left:-40px">
        <ul class="nav d-flex py-0 px-1 align-items-center justify-content-end" style="margin-top: -40px">
          <li class="nav-item ml-4">
            <a class="nav-link active" href="#">ABOUT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">MEMBERS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">CHAPTERS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">EVENTS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">PARTNERS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">RESULTS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link pr-0" href="#">CONTACT</a>
          </li>
        </ul>
    </div>
  </div> -->

  <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse bg-faded fixed-top mb-4" style="opacity: 0.96; filter: alpha(opacity=.96)">
    <button class="navbar-toggler navbar-toggler-right mt-2" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand hidden-md-down" href="#"><img src="../images/logo_grey.png" alt="StarveUps logo" style="width: 200px; margin-bottom:-60px"></a>
    <a class="navbar-brand hidden-lg-up" href="#"><img src="../images/logo_grey.png" alt="StarveUps logo" style="width: 150px; margin-bottom:-50px"></a>

    <div class="collapse navbar-collapse mt-4" id="navbarText">
      <ul class="navbar-nav mr-auto d-flex justify-content-end">
        <hr class="hidden-sm-up">
        <li class="nav-item">
          <a class="nav-link active pl-0 ml-0" href="#">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">MEMBERS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">CHAPTERS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">EVENTS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">PARTNERS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">RESULTS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link pr-0" href="#">CONTACT</a>
        </li>
      </ul>
      <span class="navbar-text">
        Subscribe will go here
      </span>
    </div>
  </nav>




  <body class="background-grey" style="margin-top: 8rem">

    <%= yield %>
  </body>
</html>
