<!DOCTYPE html>
<html>
  <head>
    <title>BlockLibrary</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/quantumpipes/sitecast/vendors/bootstrap/dashboard/v4/dist/toolkit-light.min.css">
    <link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/quantumpipes/sitecast/vendors/bootstrap/theme-dashboard/v4/dist/toolkit.min.js">

    <!-- FOR CALENDAR DATEPICKER -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="http://www.google.com/jsapi" type="text/javascript"></script>
    <script src="https://use.fontawesome.com/0dfbe7b74a.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
